header {
  width: 100%;
}

.geral {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
}

.lista-musicas {
  background-color: rgb(48, 136, 107);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  justify-items: baseline;
  list-style: none;
  max-height: 450px;
  overflow-y: scroll;

  /*   padding-top: 470px; */
  padding-left: 25px;
  padding-right: 25px;
  width: 70%;
}

.itens {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  text-align: right;
}

audio {
  align-self: baseline;
  height: 20px;
}
