header {
  width: 100%;
}

.geral {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
}

.lista-musicas {
  background-color: rgb(48, 136, 107);
  display: flex;
  flex-flow: column;
  justify-items: baseline;
  list-style: none;
  max-height: 450px;
  overflow-y: scroll;
  padding-left: 25px;
  padding-right: 25px;
  width: 75%;
}

.itens {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 65px;
  justify-items: baseline;
}

p {
  text-align: start;
  width: 600px;
}

.input-fav {
  width: 30px;
}

audio {
  align-self: baseline;
  height: 20px;
  padding: 20px;
}
